body {
    font: 16px/1 Helvetica, sans-serif;
}

#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 2px -5px ;
    overflow: hidden;
    height: 160px;
}

.photo img {
    min-width: 160px;
    max-width: 240px;
}

.heart {
    float: left;
    position: relative;
    left: 1.2em;
    top: 0.2em;
    color: #FFFFFF;
    cursor: pointer;
}
